.box {
    color: gold;
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    margin: 10px;
   position: absolute;
    
}
.booox {
    background-color: blue;
    width: 500px;
    height: 500px;
    position: relative;

}