.heh {
  position: relative;
   display: flex;
}

.rall {
    position: relative;
   
}
.seb {
    position: absolute;
   bottom: 10px;
    left: 40px;
}
 
.p {
    position: relative;
    
}

.h {
    position: absolute;
    bottom: 40px;
    left: 30px;
}
.huu {
    display: flex;
}