body {
    @media screen and (max-width: 600px) {

    }
    
    @media screen and (min-width: 600px)
    and (max-width: 600px) {
    
    }
    
    
}
.top {
    background-color: wheat;
    height: 60px;
    
}
.zuun {
    background-color: rgb(255, 255, 255);
   
  flex: 1;
width: 100px;
    
}
.useg a{background-color: wheat;}
.h{
    height: 50px;

}






.baruun {
  flex: 6;
    background-color: bisque;
  
    
}
.contt {
    display: flex;
    height: 95vw;
}
.useg {
    display: flex;
  align-items: center;
  height: 60px;
    
}
h1{
    margin: 0;
}
a {
    background-color: rgb(255, 255, 255);
    width: 150px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.ss {
    display: flex;
    text-align: center;
}

.gr {
    background-color: gray;
    height: 20px;
    height: 3vw;
}
.bl {
    background-color: rgb(10, 213, 228);
    height: 97vw;
}

.box1 {
    background-color: yellow;
   display: flex;
   justify-content: space-around;
}

.box {
    height: 200px;
    width: 280px;
    background-color: black;
    margin: 10px;
    position: relative;
}

.boo {
    height: 100px;
    width: 220px;
background-color: aliceblue;
left: 30px;
position: absolute;
top: 20px;
}

.bxx {
    position: absolute;
    width: 220px;
    height: 50px;
    bottom: 10px;
    left: 30px;
    background-color: blue;
    display: flex;
}
.bb {
    background-color: azure;
    margin: 3px;
    height: 30px;
    left: 10px;
}
.xx {
    background-color: aqua;
    margin: 3px;
    height: 30px;
    width: 190px;
}

.you {
    height: 20px;
    width: 10px;
}
.flex {
  display: flex;
}
