body {
    @media screen and (max-width: 600px) {

    }
    
    @media screen and (min-width: 600px)
    and (max-width: 600px) {
    
    }
    
    
}
.top {
    background-color: rgb(255, 255, 255);
    height: 60px;
   display: flex;
   
   justify-content: space-between;
   posi
    
}
.zuun {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
  
  flex: 1;
width: 100px;
    
}
.useg a{background-color: rgb(255, 255, 255);}
.h1 {
    height: 40px;
}
.h{
    height: 60px;
}
#nah {
    font-family: "Roboto", sans-serif;
  font-weight: 500;
 font-size: 23px;
    
}

.usee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.use {
    display: flex;
    align-items: center;
    left: 10px;
    height: 40px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    border: 1px solid;
} 


.search {
    height: 40px;
    width: 80px;
    border: 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mic {
    height: 40px;
    width: 50px;
}

.usg a {
    background-color: rgb(255, 255, 255);
     
}
.usg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.he {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    width: 90px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
}

.baruun {
  flex: 6;
    background-color: bisque;
  display: ;
    
}
.contt {
    display: flex;
    height: 95vw;
}
.useg {
    display: flex;
  align-items: center;
  height: 60px;
    
}
h1{
    margin: 0;
}
a {
    background-color: rgb(255, 255, 255);
    width: 150px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.ss {
    display: flex;
    text-align: center;
}

.gr {
    background-color: rgb(131, 130, 130);
    
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.ko {

    border-radius: 6px;
    background-color: beige;
    text-align: center;
}

.bl {
    background-color: rgb(10, 213, 228);
    height: 96vw;
}

.box1 {
    background-color: yellow;
   display: flex;
   justify-content: space-around;
  
}

.box {
    height: 200px;
    width: 280px;
    background-color: black;
    margin: 10px;
    position: relative;
}

.boo {
    height: 100px;
    width: 220px;
background-color: aliceblue;
left: 30px;
position: absolute;
top: 20px;
}

.bxx {
    position: absolute;
    width: 220px;
    height: 50px;
    bottom: 10px;
    left: 30px;
    background-color: blue;
    display: flex;
    align-items: center;
}
.bb {
    background-color: azure;
    margin: 3px;
    height: 30px;
    left: 10px;
}
.xx {
    background-color: aqua;
    margin: 3px;
    height: 30px;
    width: 190px;
}

.you {
    height: 20px;
    width: 10px;
}
.flex {
  display: flex;
}
