body {
    @media screen and (max-width: 600px) {

    }
    
    @media screen and (min-width: 320px)
    and (max-width: 480px) {
    .box1 {
        display: flex;
        flex-wrap: wrap;
        
        height: 320px;
    }


.box {
    

}

    .zuun{
    /* width: 330px; */
    display: flex;
    display: hidden;
     
    }

    .di{
        /* width: 330px; */
        display: flex;
        display: hidden;
    
        }


    }


    
    

}
.top {
    background-color: rgb(255, 255, 255);
    height: 60px;
   display: flex;
   width: 100vw;
   justify-content: space-between;
   position: fixed;
    top: 0;
    margin-right: 105x;
}
.hea {
    position: fixed;
}
.zuun {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
  position: fixed;
  height: 100vw;
width: 13vw;
    margin-top: 60px;
}

.useg a{background-color: rgb(255, 255, 255);}
.h1 {
    height: 40px;
}
h3 {
    margin-left: 10px;
}

.h {
    height: 60px;
}
#nah {
    font-family: "Roboto", sans-serif;
  font-weight: 500;
 font-size: 23px;
    
}

.usee {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: ; */
    
    
}
.videos{
  
    width: 378px;
    height: 212px;
    border-radius: 10px; 
    
}
header{z-index: 1;}
.use {
    display: flex;
    align-items: center;
    left: 40px;
    height: 40px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    
    border: 1px snow;
    color: #606060;
} 

.uu {
    display: flex;
    align-items: center;
    left: 40px;
    height: 40px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    
    border: 1px solid;
    color: #666262;
}


.flex:hover {
    background-color: whitesmoke;
}

#sign {
    width: 205px;
}
.search {
    height: 40px;
    width: 80px;
    border: 1px snow;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mic {
    height: 40px;
    width: 50px;
}

.usg a {
    background-color: rgb(255, 255, 255);
     
}
.usg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
}

.he {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    width: 90px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
}

.baruun {
  flex: 87vw;
    background-color: bisque;
margin-left: 13vw;
    
}
.contt {
    display: flex;
    height: 95vw;
}
.useg {
    display: flex;
  align-items: center;
  height: 60px;
    
}
h1{
    margin: 0;
}
a {
    background-color: rgb(255, 255, 255);
    width: 150px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.ss {
    display: flex;
    text-align: center;
}

.gr {
    background-color: rgb(131, 130, 130);
    margin-top: 52px;
    height: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.ko:hover {
    background-color: beige;
} 

.ko {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.bl {
    background-color: rgb(10, 213, 228);
    height: 96vw;
}

.box1 {
    background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-around;
   height: 330px;
  flex-wrap: wrap;
  
}

.box {
    height: 312px;
    width: 378px;
    background-color: black;
    margin: 10px;
    position: relative;
    flex-wrap: wrap;
}

.boo {
    height: 212px;
    width: 378px;
background-color: aliceblue;
display: flex;
align-items: center;
position: absolute;

}

#beluga {
    height: 170px;
    width: 378px;
}

.bxx {
    position: absolute;
    width: 378px;
    height: 90px;
    left: 0;
    bottom: 0;
    background-color: blue;
   display: flex;
    
}
.bb {
    background-color: azure;
    margin: 3px;
    height: 40px;
    width: 40px;
   border-radius: 40px;
}
.xx {
    background-color: aqua;
    margin: 3px;
    height: 80px;
    width: 325px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.you {
    height: 20px;
    width: 10px;
}
.flex {
  display: flex;
color: #606060;
}
.flx  {
    
display: flex;
justify-content: center;
border: 1px solid blue;
color: blue;
width: 120px;
border-radius: 30px;
}

#out {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
video {

    height: 322px;
    width: 378px;
}

.fo {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin: 3px;
}

.nt {
    font-size: 14px;
    margin: 3px;
    font-family: "Roboto", sans-serif;
    color: #606060;
}

#goos  {
    top: 0;
}