.center {
    text-align: center;
  margin: 15px;  
  font-size: 25px;

  /* font-style: italic; */}
div a {text-decoration: none;
    font-size: 20px;
color: rgb(0, 0, 0);
flex-direction: column;
justify-content: space-between;
margin: 25px;

}
.life {
    text-align: center;
    font-size: 30px;
}
a:hover {
    border-bottom: 2px solid black;
}
.l {
    font-family: Arial, Helvetica, sans-serif;
}

.centr {
    text-align: center;
}
/* .box {
position: fixed;
top: 0; left: 0;
    background-color: white;
    width: 100vw;
    justify-content: space-evenly;
} */
.logo {
    display: flex;
    justify-content: flex-start;
}
.search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.seaarch {
    position: fixed;
}
.container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
background-color: white;
width: 100%;
top: 0px;
}
.hehehe {
    margin: 30px;
    left: 0px;
    width: 100vw;
}
.align {
    text-align: center;
    font-size: 40px;
}
.gg {
    width: 100vw;
    height: 700px;

}
/* .zurag {
    width: 100vw;
   
} */
.tailbar {
  
}
.contai{
     position: relative;
     
}
      
.p {position: absolute;
    bottom: 20px;
  color: aliceblue;
  left: 30px;
 
}

.zurg {
    width: 100vw;
    height: 50vw;
}
.a {
  background-color: aliceblue;
  border-radius: 20px;
}
#wi {
    width: 100vw;
    height: 50vw;
}
 
.cont {
    position: relative;
}
.c {
    position: absolute;
    bottom: 20px;
color: aliceblue;
left: 30px;
}
.aaaa {
    background-color: aliceblue;
    border-radius: 20px;
   
}